<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.api.ManagerService.mapper.GuaranteeEventMapper">
    <insert id="addToDb" parameterType="GuaranteeEvent">
        insert into guarantee_event(imei, event_type, purchase_type, raw_message)
        values (#{guaranteeEvent.imei}, #{guaranteeEvent.eventType}, #{guaranteeEvent.purchaseType}, #{raw_message})
    </insert>
    <select id="getGuaranteeEventMessageByImei" parameterType="String" resultType="GuaranteeEventDatabaseAudit">
        SELECT
        imei as imei,
        raw_message as rawMessage
        FROM guarantee_event where imei = #{imei}
    </select>
</mapper>


