<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.api.NormalizeService.mapper.OnlineMessageMapper">
    <insert id="save" parameterType="String" keyColumn="id">
        insert into online_message (raw_message, imei)
        values (#{message}, #{imei})
    </insert>
    <select id="getMessageByImei" parameterType="String" resultType="OnlineMessageAudit">
        SELECT
            imei as imei,
            raw_message as rawMessage
        FROM online_message where imei = #{imei}
    </select>
</mapper>


